/* CSS For Work Samples List */
body {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-family: sans-serif;
}

.header,
.footer {
    text-align: center;
}

.header,
.footer,
.section {
    padding: 40px 20px;
}

.header h1 {
    font-size: 48px;
}

.project__list li {
    font-size: 24px;
    margin-top: 24px;
}