/*///// GLOBALS /////*/
body {
  font-family: Arial;
  font-size: 120%;
  margin: 0;
  padding: 0;
}

a {
  color: #563d7c;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #8570a5;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: #563d7c;
  border-radius: 5px;
  padding: 10px 10px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #8570a5;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

/*///// UTILITIES /////*/
/* .hide {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
} */

.btn--disabled {
  opacity: 0; 
  pointer-events: none;
}

/*///// BASE /////*/
.header {
  text-align: center;
  padding: 30px 0 0; 
  background-color: #efefef;
}

.header__h1 {
  font-size: 48px;
  margin-top: 0;
}

.wrapper {
  margin: 60px auto 0 auto;
  max-width: 650px;
}

.section {
  padding: 60px 30px;
  background-color: #efefef;
  border-radius: 10px;
  text-align: center;
}

.section__heading {
  margin-top: 0; 
}

/*///// TIMER /////*/
.time-scores {
  background-color: #563d7c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.scores,
.timer {
  margin: 0 10px;
  color: #fff;
}

.scores__link {
  color: #fff;
  text-decoration: underline;
}

/*///// QUESTIONS SECTION /////*/
.questions {
  text-align: left;
}

.questionsBtn__container {
  display: flex;
  justify-content: space-between;
}

.choices__container {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-column-gap: 10px;
  grid-template-rows: auto auto auto;
  grid-row-gap: 10px;
  margin-bottom: 30px;
}

.slide {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.slide.active {
  clip: auto;
  clip-path: none;
  height: auto;
  overflow: visible;
  position: static;
  white-space: normal;
  width: 100%;
}

/*///// RESULTS SECTION /////*/
.initials__label {
  display: block;
  margin-bottom: 10px;
}

.initials__input {
  padding: 10px;
  border-color: transparent;
  border-radius: 5px;
}

.submit__btn {
  margin-top: 10px;
}

/* .feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
} */
